 {{!-- 註冊通知 --}}
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ this.message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×
      </button>
    </div>
  {{/each}}
{{/if}}

{{!-- 登入狀況回報通知 --}}
{{#if errors_msg }}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ errors_msg }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×
    </button>
  </div>
{{/if}}

{{!-- 成功登出通知 --}}
{{#if success_msg}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{{success_msg}}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{!-- 未登入使用其他服務錯誤通知 --}}
{{#if warning_msg}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{{warning_msg}}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}