<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

  {{#if login}}
  <link rel="stylesheet" href="/stylesheets/login.css">
  {{/if}}
  {{#if register}}
  <link rel="stylesheet" href="/stylesheets/register.css">
  {{/if}}
</head>

<body>
  {{#if isAuthenticated }} {{/if}}
  <header>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand d-flex" href="/">
        <img src="https://i.imgur.com/hLJ2XGU.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="我的餐廳清單">
        {{ user.name }} &ensp;-&ensp;
        <h5 class="m-auto animate__animated animate__bounce">Eat 主廚收藏家</h5>
      </a>
      <div class="d-flex justify-content-between">
        <a class="btn btn-outline-light bg-info mr-3" href="/restaurants/new">新增餐廳資訊</a>
        <a class="btn btn-outline-light bg-info " href="/users/logout">Logout</a>
      </div>
    </nav>
  </header>
 

  {{{body}}}

  <script src="/javascripts/jquery-3.5.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>