html,
body {
  background-image: url("https://i.imgur.com/7ndTgu1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
}

.fa-facebook-square {
  font-size: 60px;
  margin-left: 10px;
  color: #087AEA;
}
.fa-google-plus-square {
  font-size: 60px;
  margin-left: 10px;
  /* color: linear-gradient(134deg, #415B96, #6D4BFA); */
}
.fa-google-plus-square::before{
    /* background: -webkit-gradient(linear, left top, left bottom, from(#415B96), to(#6D4BFA)); */
    background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.fa-twitter-square {
  font-size: 60px;
  margin-left: 10px;
  color: #1DA1F2;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
